{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="span8 offset2">
    <div class="centered">

      	<p class="task_list_header">Tasks:</p>
      
    	{% for task in tasks %}
    		<p class="task_list">
    			<a href="/annotator/{{ task['task_name'] }}">{{ task['task_name'].replace('_',' ') }}</a>
    			<span>({{ task['data_source_name'].replace('_',' ') }}, {{ task['task_details']['type'].replace('_',' ') }})</span>
    		</p>
    	{% endfor %}

    </div>
    <hr>
  </div>
</div>



{% endblock %}
